/* ----- Css Reset ----- */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* ----- Declaring variables ----- */
:root {
    --yellow: #FAA307;
    --red: #6A040F;
    --gray: #748CAB;
    --blue: #03071E;
}

html,
body {
    box-sizing: border-box;
    background-color: var(--yellow);
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

/* -----  First Block ----- */
.container__first {
    display: flex;
    width: 27.3rem;
    height: 22rem;
    background-color: var(--blue);
    margin: 1rem;

    flex-wrap: wrap;
    align-content: flex-start;
}

.container__first-child {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--gray);
    margin: 1rem;
}

/* -----  Second Block ----- */
.container__second {
    display: flex;
    width: 27.3rem;
    height: 22rem;
    background-color: var(--red);
    margin: 1rem;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.container__second-child {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--gray);
    margin: 1rem;
}

/* -----  Third Block ----- */
.container__third {
    display: flex;
    width: 27.3rem;
    height: 22rem;
    background-color: var(--red);
    margin: 1rem;

    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: flex-end;

}

.container__third-child {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--gray);
    margin: 1rem;
}

/* -----  Fourth Block ----- */
.container__fourth {
    display: flex;
    width: 27.3rem;
    height: 22rem;
    background-color: var(--blue);
    margin: 1rem;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container__fourth-child {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--gray);
    margin: 1rem;
}

/* -----  Fifth Block ----- */
.container__fifth {
    display: flex;
    width: 27.3rem;
    height: 22rem;
    background-color: var(--blue);
    margin: 1rem;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.container__fifth-child {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--gray);
    margin: 1rem;
}
