*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --logo: #0a1b32;
    --black: #1b0a42;
    --gray: #9a9a9a;
    --purple: #824ff1;
}

/* ----- Navigation ----- */
.navigation {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: auto;
    
}

.navigation h2 {
    margin-left: 80px;
    margin-top: 37px;
    font-family: "Circular Std Black", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: var(--logo);
}

.logo-dot {
    color: var(--purple);
}

.navigation-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 30px;
}

.navigation-list a {
    color: var(--black);
    text-decoration: none;
    margin-left: 40px;
    
}

#sign-in {
    margin-left: auto;
}

.btn-nav {
    width: 120px;
    height: 60px;
    margin-left: 40px;
    margin-right: 68px;
    background: var(--purple);
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    border: none;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.btn-nav:hover {
    --hover: #5835a3;
    background-color: var(--hover);
    cursor: pointer;
}

/* ----- Main Content ----- */
.main__header {
    display: flex;
}

.main__header-primary {
    font-family: "Ramaraja", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: var(--black);
    width: 496px;
    height: 152px;
    margin-top: 208px;
    margin-left: 200px;
    margin-bottom: 0;
}

.main__header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: var(--gray);
    width: 538.08px;
    height: 96px;
    margin-left: 200px;
    margin-top: 10px;
}

.main__header-btn {
    width: 152px;
    height: 63.82px;
    margin-left: 200px;
    margin-top: 50px;
    background: var(--purple);
    border-radius: 6px;
    border: none;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--white);
}

.main__header-btn:hover {
    --hover: #5835a3;
    background-color: var(--hover);
    cursor: pointer;
}

/* ----- Image ----- */

.img-base {
    position: relative;
    width: 658px;
    height: 700px;
    top: 56px;
    left: 110px;
    bottom: 82;
    right: 90;
}

.img-top {
    position: absolute;
    width: 821px;
    height: 509px;
    right: 0;
    top: 228px;
}
