body {
    overflow: hidden;
    margin: 0%;
}

/* ----- Header with Navigation ----- */

.header-nav {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
}

.header-nav h2 {
    margin-left: 80px;
    margin-top: 37px;
    font-family: "Circular Std Black", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 160%;
    /* or 48px */
    letter-spacing: -0.02em;
    color: #0A1B32;
}

.logo-dot {
    color: #4F56F1;
}

.nav-list {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.02em;
}

.nav-list a {
    color: #1B0A42;
    text-decoration: none;
    margin-left: 40px;
}

.nav-list li:first-child {
    margin-left: 57px;
}

#sign-in {
    margin-left: auto;
}

.btn-nav {
    width: 120px;
    height: 60px;
    margin-left: 40px;
    margin-right: 68px;
    background: #4F56F1;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    border: none;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.btn-nav:hover {
    background: #363ba8;
    cursor: pointer;
}

/* ----- Textual Content ----- */
.main__header {
    display: flex;
}

.main__header-primary {
    font-family: "Ramaraja", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    letter-spacing: 0.02em;
    color: #1B0A42;
    width: 496px;
    height: 152px;
    margin-top: 208px;
    margin-left: 200px;
    margin-bottom: 0;
}

.main__header-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */
    letter-spacing: 0.02em;
    color: #9A9A9A;
    width: 538.08px;
    height: 96px;
    margin-left: 200px;
    margin-top: 10px;
}

.main__header-btn {
    width: 152px;
    height: 63.82px;
    margin-left: 200px;
    margin-top: 50px;
    background: #4F56F1;
    border-radius: 6px;
    border: none;

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */
    text-align: center;
    letter-spacing: 0.02em;

    color: #fff;
}

.main__header-btn:hover {
    background: #363ba8;
    cursor: pointer;
}
/* ----- Image ----- */

.main__image {
    width: 653px;
    height: 604px;
    margin: 114px 94px 130px 115px;
}
